/****** Object:  Database [Vendor Verification]    Script Date: 8/4/2026 10:00:47 AM ******/
CREATE DATABASE [Vendor Verification]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vendor Verification', FILENAME = N'D:\Database\Vendor Verification\Vendor Verification.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vendor Verification_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Vendor Verification_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vendor Verification].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[ExcelUpload]    Script Date: 8/4/2026 10:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcelUpload](
	[BatchId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NULL,
	[UploadedBy] [int] NULL,
	[TotalRows] [int] NULL,
	[SuccessRows] [int] NULL,
	[FailedRows] [int] NULL,
	[UploadedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/4/2026 10:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 8/4/2026 10:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[BatchId] [int] NULL,
	[VendorCode] [int] NOT NULL,
	[VendorName] [nvarchar](150) NOT NULL,
	[AddressLine1] [nvarchar](200) NULL,
	[AddressLine2] [nvarchar](200) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Pincode] [nvarchar](10) NULL,
	[Status] [nvarchar](30) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[MobileNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorDocuments]    Script Date: 8/4/2026 10:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorDocuments](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[ResponseId] [int] NOT NULL,
	[OriginalFileName] [nvarchar](255) NOT NULL,
	[StoredFileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[MimeType] [nvarchar](100) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[DocumentType] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StoredFileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorEmail]    Script Date: 8/4/2026 10:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorEmail](
	[EmailId] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NULL,
	[Email] [nvarchar](150) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[is_primary] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorVerificationResponse]    Script Date: 8/4/2026 10:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorVerificationResponse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[VendorId] [int] NOT NULL,
	[VendorName] [nvarchar](200) NULL,
	[Address] [nvarchar](500) NULL,
	[SubmittedAt] [datetime] NOT NULL,
	[ContactNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerificationRequests]    Script Date: 8/4/2026 10:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificationRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[EmailId] [int] NULL,
	[Token] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](30) NULL,
	[SentAt] [datetime] NULL,
	[ExpiresAt] [datetime] NULL,
	[VerifiedAt] [datetime] NULL,
	[OpenedAt] [datetime] NULL,
	[OpenCount] [int] NOT NULL,
	[ReminderCount] [int] NOT NULL,
	[LastReminderSentAt] [datetime] NULL,
	[EmailAttemptNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_VendorDocuments_ResponseId]    Script Date: 8/4/2026 10:00:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_VendorDocuments_ResponseId] ON [dbo].[VendorDocuments]
(
	[ResponseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExcelUpload] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[VendorDocuments] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[VendorDocuments] ADD  DEFAULT (sysdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[VendorDocuments] ADD  DEFAULT ('') FOR [DocumentType]
GO
ALTER TABLE [dbo].[VendorEmail] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VendorEmail] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VendorEmail] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[VendorVerificationResponse] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[VerificationRequests] ADD  DEFAULT ('sent') FOR [Status]
GO
ALTER TABLE [dbo].[VerificationRequests] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[VerificationRequests] ADD  DEFAULT ((0)) FOR [OpenCount]
GO
ALTER TABLE [dbo].[VerificationRequests] ADD  DEFAULT ((0)) FOR [ReminderCount]
GO
ALTER TABLE [dbo].[VerificationRequests] ADD  DEFAULT ((1)) FOR [EmailAttemptNo]
GO
ALTER TABLE [dbo].[ExcelUpload]  WITH CHECK ADD FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Vendor]  WITH CHECK ADD FOREIGN KEY([BatchId])
REFERENCES [dbo].[ExcelUpload] ([BatchId])
GO
ALTER TABLE [dbo].[VendorDocuments]  WITH CHECK ADD  CONSTRAINT [FK_VendorDocuments_Response] FOREIGN KEY([ResponseId])
REFERENCES [dbo].[VendorVerificationResponse] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendorDocuments] CHECK CONSTRAINT [FK_VendorDocuments_Response]
GO
ALTER TABLE [dbo].[VendorEmail]  WITH CHECK ADD FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
GO
ALTER TABLE [dbo].[VendorVerificationResponse]  WITH CHECK ADD  CONSTRAINT [FK_VVR_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[VerificationRequests] ([RequestId])
GO
ALTER TABLE [dbo].[VendorVerificationResponse] CHECK CONSTRAINT [FK_VVR_Request]
GO
ALTER TABLE [dbo].[VendorVerificationResponse]  WITH CHECK ADD  CONSTRAINT [FK_VVR_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
GO
ALTER TABLE [dbo].[VendorVerificationResponse] CHECK CONSTRAINT [FK_VVR_Vendor]
GO
ALTER TABLE [dbo].[VerificationRequests]  WITH CHECK ADD FOREIGN KEY([EmailId])
REFERENCES [dbo].[VendorEmail] ([EmailId])
GO
ALTER TABLE [dbo].[VendorDocuments]  WITH CHECK ADD CHECK  (([FileSize]>=(0)))
GO
